<h1>Team: <%= @team.team_name %></h1>

<ul>
  <% @team.players.each do |player| %>
    <h3><%= link_to player.player_name, player_path(player) %> Position: <%= player.position %>, Points: <%= player.points %></h3>
  <% end %>
</ul>

<h3><%= link_to @team.league.league_name, league_path(@team.league) %>
