<!DOCTYPE html>
<html>
  <div id="league-index-bg">
    <div id='league-index-container' class="ui raised very padded text container segment">
      <h1 id='title-color-league' align="center"class="ui header">Welcome to Football Kings</h1>
        <div align="center"><%= form_tag leagues_path, method: :get, class: "ui fluid category search", class: "ui icon input" do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search leagues..." %>
            <i class="search icon"></i>
            <div class="results"></div>
          <% end %>
        </div>
      <div id="football-kings-leagues">
        <% counter = 0 %>
        <% @leagues.each do |league| %>
          <% counter += 1 %>
          <h3 id='h1-color'><%= "#{counter}." %> <%= link_to league.league_name, league_path(league) %> <%= league.available_spots %></h3>
        <% end %>
      </div>
    </div>

    <div id='league-index-container' class="ui raised very padded text container segment">
      <h2 id='h1-color' class="ui header">Top Ranking Players</h2>
      <% @players.each do |player| %>
        <% if player.points >= 27 %>
          <h3 id='h1-color'><%= link_to player.player_name, player_path(player) %> <%= player.points %> points</h3>
        <% end %>
      <% end %>
    </div>
  </div>
</html>
